/*=================================

 *** ALL COLORS **** 

						1. Headings     
						2. Subheadings 
						3. backgrounds  
						4. links
						5. paragraphs   
						6. buttons

===================================*/

/* 1. Headings colors			
=====================*/

$white : #ffffff;
$black: #000000;
$black1: #101010;
$white1: #fafafa;

/* subheadings */














/* 2. Subheadings colors			
=====================*/
$colorTitle:#333;
$pinkish:#e6e6e6;


/* 3. backgrounds colors
========================*/

/* top section */



/* middle section */


/* bottom section */



/* 4. links & map
=================*/
$mapColor:#2581B8;

/* 5. paragraphs
================*/
$colorPara:#666666;



/* 6. buttons
=============*/


.btn.btn-danger.btn-lg {
	color: #ffffff;
	background-color: #b6312c;
	border-color: #952226;
}//btn-danger
.btn.btn-danger.btn-lg:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}//btn-danger:hover

.btn.btn-danger.btn-lg:focus {
	border: none;
	outline: none;
}


/*footer
========*/
$footerColor:#273547;




