/*=================================

 *** ALL COLORS **** 

	1. Headings     
	2. Subheadings 
	3. backgrounds  
	4. links
	5. paragraphs   
	6. buttons

===================================*/

/* 1. Headings colors			
=====================*/

$white : #ffffff;
$black:  #000000;
$black1: #101010;
$white1: #fafafa;

/* subheadings */

$navbg:#8c1c20;












/* 2. Subheadings colors			
=====================*/



/* 3. backgrounds colors
========================*/

/* top section */
$midblue:#1D4E69;


/* middle section */
$lightblue:#1A8BCB;


/* bottom section */
$darkblue:#273547;


/* 4. links & map
=================*/
$mapColor:#2581B8;

/* 5. paragraphs
================*/
/*  darken($white,10);  */



/* 6. buttons
=============*/
/*large red button*/
$buttonbg: #b6312c;
$buttonborder:#952226;


/*footer
========*/
$footerColor:#273547;







