

/* 
---------------------------------------
 		*** Styles.css ***
    	==================
_______________________________________*/
/*

*/

$font:16px;
$colorwhite:#fafafa;
$colorTitle:#333;
$colorDarker:#101010;
$colorPara:#666666;
$font-family: 'Roboto Mono', 'monospace';



body {
	font-size: $font;
	font-family: $font-family;

}


p {
	font-family: $font-family;
	font-size: $font + 4;
	line-height: $font*2;
	color:$colorPara;
}

header {
	background: url(../assets/images/nav2.jpg) repeat-x;
   
    nav.navbar.navbar-inverse.navbar-fixed-top {
		


	}
	padding:5em 0;
	background:#222222;
	.navbar {
		padding:2em 0 1.75em;
		border:none;
		margin-bottom:0;
		.logogit.brandz {
			height: auto;
		    .navbar-header {
		    	display: inline-block;
		    	float: right;
		    }
			div.subheader-img {
					header {
						height: 130px;
					}//header

					h1 {
						display: inline-block !important;
						margin:0 auto;
						font-size: ($font)*2 + 10;
						line-height: ($font)*3 +10px;
						vertical-align: middle;
						font-family: $font-family;
						color:#fff;
						margin-left: 1em;
    					text-shadow: 1px 3px 10px rgb(0, 0, 0);
					}//h1
					
					img.img-responsive {
						display: inline-block !important;
						margin:0 auto;
						font-size: ($font)*2 + 10;
						line-height: ($font)*3 +10px;
					    vertical-align: middle;
					    background: black;
					    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.77);
					    /* box-sizing: border-box; */
					    outline: 3px solid #222222;
					    border: 1px solid rgb(236, 236, 236);
					}//img
					
			}//subheader-img
		}//logogit.brandz	
	}//navbar
	ul.nav.navbar-nav > {
			li.active {
				a {
					background-color: transparent !important;
				}//a

			}//li.active
			li {
				font-size: $font + 4;
				line-height: $font + 12px;
				font-weight: normal;
				a {
					padding-top: 25px;
				}
			}//li
			
		
	}//navbar-nav

	.navbar-right.sopra {
		padding-right: 1em;
		position: fixed;
		right:20%;
		top: 5.45%;
		
	}//ul.nav.navbar-right.sopra

	li#contact {
			margin-right:15px;
		
	}//li#contact
	li#active {
			
			margin-right: 15px;
	} //li.active
	
	
	
} //header

.mainContent {
	border-top: 3px solid #fff;
	.container {
		.maintop {
			background: url(../assets/images/backgrounds/apiimage.jpg) no-repeat;
		    background-position: left top;
		    background-color: rgba(34, 34, 34, 0.1);
		    height: 600px;
		    width: 100%;
		    border-bottom-left-radius: 6px;
		    border-bottom-right-radius: 6px;
		    text-shadow: 0 0px 1px rgba(25, 21, 21, 0.6);
		    box-shadow: 0px 1px 0px 3px rgba(34, 34, 34, 0.98), 0 0 0 3px #e6e6e6;
		    border: 1px solid white;
		    outline: 1px solid rgba(34, 33, 38, 0.71);
		    border-top: 0;
		    padding: 0;

		    .headline {
				background: rgba(0, 0, 0, 0.35);
			    margin: 1.5em 0;
			    border-radius: 5px;
			    .txwrap {
			    	padding:0 1.5em;
			    	border-radius: 6px;
			    	h1 {
						font-size: ($font)*3;
						line-height: ($font)*3 +12px;
						color:$colorwhite;
						margin-bottom: .3em;
						font-family: $font-family;
					}//h1
					h3 {
						font-size: ($font) + $font/2;
						line-height: ($font)*2;
						color:$colorwhite;
						font-family: $font-family;
						padding-bottom: .5em;	
					}//h3

		    	}//txwrap
			    
			}//headline

		}//maintop
		.mainmiddle {
			margin:2em 0;
			overflow: auto;
			
			.innermid {
				padding:0 1em;
				border:1px solid #d1d1d1;
				.apresults {
					min-height: 360px;
					margin:1em 0;
					p#apidata {
						
					}
					textarea {
						margin:0 2em auto;
					}//textarea

				}//apresults
				#clipboard {
					text-align: center;
					margin:2em 0;
					padding:1em 0;
					border-bottom: 1px dotted #d4d4d4;

				}//clipboard
				.apiarea {
					margin:1em 0;
					h2 {
						font-size: $font*2;
						margin:.5em 0;
						

					}//h2
					p {
						margin:.5em 0;
					}

				}//apiarea

			}//innermid



		}//mainmiddle
		
		


	}//container

}//mainContent




