@import "compass";
@import "susy";
@import "variables";
@import "mixins";
@import "reset";
@import "colors";



/* 
---------------------------------------
 		*** Styles.css ***
    	==================
_______________________________________

*/


$font:16px;

$font-family: sans-serif,arial,helvetica;





body {
	font-size: $font;
	font-family: $font-family;

}









p {
	font-family: sans-serif;
	font-weight: 300;
	font-size: $font + 4;
	line-height: $font*2;
	color:darken($white,10);
}

header {
    background-color: $navbg;
    padding: 3.5em 0;
    border-bottom: 1px solid rgba($black, 0.75);
    nav.navbar.navbar-inverse.navbar-fixed-top {
		background-color: $navbg;	
	}//nav.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inverse .navbar-nav > li > a {
		color: darken($white,10);
    	text-shadow: 0px -1px 1px rgba($black, 0.75);
	}
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse 
	.navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
	li.dropdown.open a.dropdown-toggle  {
		color: $white;
    	text-shadow: 0px -1px 1px rgba($black, 0.75);
    	background-color: $white;
	
	}//resources nav submenu	
	
	.navbar {
		padding:1.5em 0 1.5em;
		border:none;
		margin-bottom:0;
		.logogit.brandz {
			height: auto;
		    .navbar-header {
		    	display: inline-block;
		    	float: right;
		    }
			div.subheader-img {
					height: 60px;
					

					h1 {
						display: inline-block !important;
						    margin: 0 auto;
						    font-size: (($font*2)+ 4px);
						    line-height: (($font*2) + 16px);
						    vertical-align: middle;
						    font-family: arial-rounded,sans-serif;
						    letter-spacing: 1px;
						    color: $white;
						    margin-left: 1em;
						    text-shadow: 0px -1px 0px lighten($black,30);
						
					}//h1
					
					img.img-responsive {
						display: inline-block !important;
					    margin: 0 auto;
					    font-size: 42px;
					    line-height: 58px;
					    vertical-align: middle;
					    background: rgba($lightblue,.90);
					    box-shadow: 0px 0px 1px 2px rgba($navbg, 0.9);
					    border: 1px solid rgba($black, 0.5);
					    border-radius: 50%;
					}//img
					
			}//subheader-img
		}//logogit.brandz	
	}//navbar
	ul.nav.navbar-nav > {
			li.active {
				a {
					background-color: transparent !important;
				}//a

			}//li.active
			li {
				font-size: $font + 6;
				line-height: $font + 10px;
				font-weight: normal;
				font-family: arial-rounded,sans-serif;
				letter-spacing: 1px;
				a {
					padding-top: 24px;
				}
			}//li
			
		
	}//navbar-nav

	.navbar-right.sopra {
		padding-right: 1em;
		position: fixed;
		right:15%;
		top: 2.45%;
		
	}//ul.nav.navbar-right.sopra

	li#contact {
			margin-right:17px;
		
	}//li#contact
	li#active {
			
			margin-right: 17px;
	} //li.active
	
	
	
} //header

.mainContent {
	
	#mainheading {
		background-color: $midblue;
		height: 330px;
		.container {
			.maintop {
			
				.maintopimg {
			    	    background: url(../assets/images/collaboration-security.svg) no-repeat;
					    background-position: 3px 62px;
					    background-color: rgba($midblue, 0.1);
					    height: 329px;
					    width: 100%;
					    text-shadow: 0 0px 1px rgba($black, 0.6);
					    border-bottom: 1px solid $white;
					    border-top: 0;
					    background-color: $midblue;
					    margin: 0em 0 0 0;

			    }//maintopimg

			
			    
			    .headline {
				    margin: 2em 0;
				    .shadebox {
				    	background: rgba(26, 139, 203, 0.7);
					    border-radius: 3px;
					    padding: 1.157em 0;
				    	.txwrap {
					    	padding:0 1.5em;
					    	
					    	h3 {
								font-size: ($font) + 8;
								line-height: ($font)*2 + 6px;
								color:$white;
								margin-bottom: .5em;
								font-family: $font-family;
								letter-spacing: 1px;
							}//h1
							p {
								font-size: ($font) + 4;
								line-height: ($font) + 12;
								color:darken($white,10);

								font-family: sans-serif;
								font-weight: 300;
								margin:.5em 0;	
							}//h3

				    	}//txwrap
				    }//shadebox
	
				}//headline

			}//maintop

		}//container

	}//#mainheading
	

	#apidatasection {
		background-color: $darkblue;
		.container {
			.mainmiddle {
				margin:2em 0;
				overflow: auto;
				
				.innermid {
					padding:0 2em;
					border:1px solid darken($white,10);
					.apresults {
						min-height: 220px;
						max-width: 981px;
						margin:0 auto;
							.apresbody {
								margin:2em 0;
								h2 {
									font-size: ($font)*2 + 4;
									line-height: ($font)*3;
									margin-bottom: .5em;
								}//h2

							}//apresbody

						
						p#apidata {
							
						}
						textarea {
							
						}//textarea

					}//apresults
					#clipboard {
						text-align: center;
						margin:2em 0;
						padding:1em 0;
						border-bottom: darken($white,3);

					}//clipboard
					.apiarea {
						margin:1em 0;
						h2 {
							font-size: $font*2;
							margin:.5em 0;
						}//h2
						p {
							margin:.5em 0;
						}
					}//apiarea

				}//innermid

			}//mainmiddle

		}//container
	}//#apidatasection

		

	#gmap {
		background-color: $lightblue;
		.container {
			.geotop {
				
				.left {
					.geointro {
						font-family: $font-family;
						padding:5em 0;
						height: auto;
						text-align: center;
						h1 {
							font-size: (($font*2)+ 4px);
						    line-height: (($font*2) + 16px);
						    color: $white;
						    
						    margin:1em 0;
						    font-family: arial-rounded,sans-serif;
						    letter-spacing: 1px;
						}//h1
						.subgeointro {
							margin:2.688em 0;
							p {
								font-size: $font + 4;
								line-height: $font + 12;
								color:darken($white,10);
								margin: .5em 0;
							
							}//p

						}//subgeointro
						
					}//geointro

				}// left
				.right {
					
					.geocontainer {
						position: relative;
					    width: 100%;
					    height: 500px;
					    margin: 0 auto;
					    z-index: 5;
					    .overlaytophalf {
					    	height: 18.75em;
					    	position: relative;
					    	#loadinggif {				    		
								width: 100%;
							   	height: 166.5%;
							   	top: 0;
							   	left: 0;
							   	position: absolute;
							   	display: block;
							   	opacity: 0.7;
							   	background-color: $white;
							   	z-index: 99;
							   	text-align: center;
							   	img#loading-image {
									 position: absolute;
									 top: 10%;
									 left: 27%;
									 z-index: 100;
							   		}//loading-image
					    	}//loadinggif

					    }//overlaytophalf
					    .gsearch {
					    	height: 40%;
					    	width: 100%;
					    	background-color: rgba($black,.2);
					    	z-index: 5;
					    	padding:2em 0;
					    	p {
					    		z-index: 15;
							    font-size: 30px;
							    text-align: center;
							    letter-spacing: 1.5px;
							    line-height: 36px;
							    padding: 0 1em;
					    	}
					    	img#geover {
					    		position: absolute;
					    		bottom: 0;
					    		right: 0;
					    		display: block;
					    		z-index: -1;
					    	}//geover
					    	#geolocbut {
					    		position: absolute;
					    		top: 15%;
					    		left: 2%;
					    		z-index: 25;
					    		
					    	}//geolocbut
					    }//gsearch	
						#map_canvas { 
				            height: 500px;
						    right: 0%;
						    position: absolute !important;
						    bottom: 0%;
						    width: 635px;
						
				        }//#map-canvas
					}//geocontainer

				}//right
				
			}//geotop
		}//container	
	}//#gmap	
		
	#apidatasection {
		.mainmiddle {
			.innermid {
				.apresults {
					.apresbody {
						h1 {
							font-size: (($font*2)+ 4px);
						    line-height: (($font*2) + 16px);
						    color: darken($white,20);		
						}//h1
						p {
							font-size: $font + 4;
							line-height: $font + 12;
							color:darken($white,10);
							margin: .5em 0;

						}//p

					}//apresbody

				}//apresults

			}//innermid

		}//mainmiddle

	}//apidatasection	
		


	

}//mainContent


/* buttons */

.btn.btn-danger.btn-lg {
	color: $white;
	background-color: $buttonbg;
	border-color: $buttonborder;
}//btn-danger
.btn.btn-danger.btn-lg:hover {
    color: $white;
    background-color: lighten($buttonbg,7);
    border-color: lighten($buttonborder,3);
}//btn-danger:hover

.btn.btn-danger.btn-lg:focus {
	border: none;
	outline: none;
}
