/*
Error: Undefined mixin 'border-radius'.
        on line 7 of /Users/Stefano/Documents/gitHubProj/mbz_benz/public/sass/mixins.scss, in `border-radius'
        from line 7 of /Users/Stefano/Documents/gitHubProj/mbz_benz/public/sass/mixins.scss

2: -----------------                        						*\/
3: $horz:5px;
4: $vert:5px;
5: 
6: .border-radius {
7: 	@include border-radius($horz,$vert);
8: }
9: 
10: 
11: /* compass-mixin text-shadow 
12: --------------------------                                      *\/

Backtrace:
/Users/Stefano/Documents/gitHubProj/mbz_benz/public/sass/mixins.scss:7:in `border-radius'
/Users/Stefano/Documents/gitHubProj/mbz_benz/public/sass/mixins.scss:7
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Stefano/.rvm/gems/ruby-2.3.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Stefano/.rvm/gems/ruby-2.3.0/bin/compass:23:in `load'
/Users/Stefano/.rvm/gems/ruby-2.3.0/bin/compass:23:in `<main>'
/Users/Stefano/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/Stefano/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'border-radius'.\A         on line 7 of /Users/Stefano/Documents/gitHubProj/mbz_benz/public/sass/mixins.scss, in `border-radius'\A         from line 7 of /Users/Stefano/Documents/gitHubProj/mbz_benz/public/sass/mixins.scss\A \A 2: -----------------                        						*/\A 3: $horz:5px;\A 4: $vert:5px;\A 5: \A 6: .border-radius {\A 7: 	@include border-radius($horz,$vert);\A 8: }\A 9: \A 10: \A 11: /* compass-mixin text-shadow \A 12: --------------------------                                      */"; }
