/* 
---------------------------------------
 		*** Styles.css ***
    	==================
_______________________________________*/
/*

*/
/* line 21, ../../sass/styles.scss */
body {
  font-size: 16px;
  font-family: "Roboto Mono", "monospace";
}

/* line 28, ../../sass/styles.scss */
p {
  font-family: "Roboto Mono", "monospace";
  font-size: 20px;
  line-height: 32px;
  color: #666666;
}

/* line 35, ../../sass/styles.scss */
header {
  background: url(../assets/images/nav2.jpg) repeat-x;
  padding: 5em 0;
  background: #222222;
}
/* line 45, ../../sass/styles.scss */
header .navbar {
  padding: 2em 0 1.75em;
  border: none;
  margin-bottom: 0;
}
/* line 49, ../../sass/styles.scss */
header .navbar .logogit.brandz {
  height: auto;
}
/* line 51, ../../sass/styles.scss */
header .navbar .logogit.brandz .navbar-header {
  display: inline-block;
  float: right;
}
/* line 56, ../../sass/styles.scss */
header .navbar .logogit.brandz div.subheader-img header {
  height: 130px;
}
/* line 60, ../../sass/styles.scss */
header .navbar .logogit.brandz div.subheader-img h1 {
  display: inline-block !important;
  margin: 0 auto;
  font-size: 42px;
  line-height: 58px;
  vertical-align: middle;
  font-family: "Roboto Mono", "monospace";
  color: #fff;
  margin-left: 1em;
  text-shadow: 1px 3px 10px black;
}
/* line 72, ../../sass/styles.scss */
header .navbar .logogit.brandz div.subheader-img img.img-responsive {
  display: inline-block !important;
  margin: 0 auto;
  font-size: 42px;
  line-height: 58px;
  vertical-align: middle;
  background: black;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.77);
  /* box-sizing: border-box; */
  outline: 3px solid #222222;
  border: 1px solid #ececec;
}
/* line 90, ../../sass/styles.scss */
header ul.nav.navbar-nav > li.active a {
  background-color: transparent !important;
}
/* line 95, ../../sass/styles.scss */
header ul.nav.navbar-nav > li {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}
/* line 99, ../../sass/styles.scss */
header ul.nav.navbar-nav > li a {
  padding-top: 25px;
}
/* line 107, ../../sass/styles.scss */
header .navbar-right.sopra {
  padding-right: 1em;
  position: fixed;
  right: 20%;
  top: 5.45%;
}
/* line 115, ../../sass/styles.scss */
header li#contact {
  margin-right: 15px;
}
/* line 119, ../../sass/styles.scss */
header li#active {
  margin-right: 15px;
}

/* line 128, ../../sass/styles.scss */
.mainContent {
  border-top: 3px solid #fff;
}
/* line 131, ../../sass/styles.scss */
.mainContent .container .maintop {
  background: url(../assets/images/backgrounds/apiimage.jpg) no-repeat;
  background-position: left top;
  background-color: rgba(34, 34, 34, 0.1);
  height: 600px;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-shadow: 0 0px 1px rgba(25, 21, 21, 0.6);
  box-shadow: 0px 1px 0px 3px rgba(34, 34, 34, 0.98), 0 0 0 3px #e6e6e6;
  border: 1px solid white;
  outline: 1px solid rgba(34, 33, 38, 0.71);
  border-top: 0;
  padding: 0;
}
/* line 146, ../../sass/styles.scss */
.mainContent .container .maintop .headline {
  background: rgba(0, 0, 0, 0.35);
  margin: 1.5em 0;
  border-radius: 5px;
}
/* line 150, ../../sass/styles.scss */
.mainContent .container .maintop .headline .txwrap {
  padding: 0 1.5em;
  border-radius: 6px;
}
/* line 153, ../../sass/styles.scss */
.mainContent .container .maintop .headline .txwrap h1 {
  font-size: 48px;
  line-height: 60px;
  color: #fafafa;
  margin-bottom: .3em;
  font-family: "Roboto Mono", "monospace";
}
/* line 160, ../../sass/styles.scss */
.mainContent .container .maintop .headline .txwrap h3 {
  font-size: 24px;
  line-height: 32px;
  color: #fafafa;
  font-family: "Roboto Mono", "monospace";
  padding-bottom: .5em;
}
/* line 173, ../../sass/styles.scss */
.mainContent .container .mainmiddle {
  margin: 2em 0;
  overflow: auto;
}
/* line 177, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid {
  padding: 0 2em;
  border: 1px solid #d1d1d1;
}
/* line 180, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid .apresults {
  min-height: 220px;
  max-width: 981px;
  margin: 0 auto;
}
/* line 184, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid .apresults .apresbody {
  margin: 2em 0;
}
/* line 186, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid .apresults .apresbody h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: .5em;
}
/* line 203, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid #clipboard {
  text-align: center;
  margin: 2em 0;
  padding: 1em 0;
  border-bottom: 1px dotted #d4d4d4;
}
/* line 210, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid .apiarea {
  margin: 1em 0;
}
/* line 212, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid .apiarea h2 {
  font-size: 32px;
  margin: .5em 0;
}
/* line 218, ../../sass/styles.scss */
.mainContent .container .mainmiddle .innermid .apiarea p {
  margin: .5em 0;
}
