@import url("https://fonts.googleapis.com/css?family=Nobile");
/* line 5, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* =================================

 *** Solarized palette **** 
     -----------------	
	/* monotones go from dark to light 
	    
	    bgcolors dark
	    -------------               */
/* content tones
   -------------                */
/* bg colors light
   ---------------              */
/* accent colors
   -------------                */
/* ==================================== */
/* 1. Headings colors			
=====================*/
/* 2. Subheadings colors			
=====================*/
/* 3. backgrounds colors
========================*/
/* top section */
/* middle section */
/* bottom section */
/* 4. links & map
=================*/
/* 5. paragraphs
================*/
/*  darken($white,10);  */
/* 6. buttons
=============*/
/*large red button*/
/*footer
========*/
/* Fonts
=================== */
/* material-icons //google
=======================*/
/* line 102, ../../sass/_variables.scss */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* line 127, ../../sass/_variables.scss */
.material-icons {
  background: url(/../public/builds/assets/images/g-icon/ic_line_weight_white_24dp_1x.png);
  height: 24px;
  width: 24px;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: text-top;
}

/* compas-mixin border-radius
-----------------                        						*/
/* line 6, ../../sass/_mixins.scss */
.border-radius {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
}

/* compass-mixin text-shadow 
--------------------------                                      */
/* line 19, ../../sass/_mixins.scss */
.single-text-shadow {
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}

/* buttons 
=========================================                         */
/*  red
=========================================                         */
/* line 32, ../../sass/_mixins.scss */
.button-red {
  color: #f2f4f4;
  background-color: #b6312c;
  border-color: #952226;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 38, ../../sass/_mixins.scss */
.button-red:hover {
  color: #f2f4f4;
  background-color: #cf3d37;
  border-color: #a12529;
}
/* line 43, ../../sass/_mixins.scss */
.button-red:focus {
  border: none;
  outline: none;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}

/* main button
==========================================                          */
/* line 54, ../../sass/_mixins.scss */
.botone, .button-red {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "Roboto+Mono", sans-serif, arial, georgia, verdana;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  text-transform: none;
  overflow: visible;
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* 
---------------------------------------
 		*** Styles.css ***
    	==================
_______________________________________

*/
/* line 19, ../../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Nobile", sans-serif, arial, georgia, verdana;
}

/* line 23, ../../sass/styles.scss */
p, button {
  font-family: "Roboto+Mono", sans-serif, arial, georgia, verdana;
}

/* line 35, ../../sass/styles.scss */
body {
  font-size: 16px;
  font-family: sans-serif, arial, helvetica;
}

/* line 41, ../../sass/styles.scss */
p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #f2f4f4;
}

/* line 49, ../../sass/styles.scss */
header {
  background-color: #b9221f;
  padding: 3.5em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
/* line 53, ../../sass/styles.scss */
header nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #b9221f;
}
/* line 56, ../../sass/styles.scss */
header .navbar-inverse .navbar-nav > li > a {
  color: #f2f4f4;
  text-shadow-text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 60, ../../sass/styles.scss */
header .navbar-inverse .navbar-nav > .open > a, header .navbar-inverse
.navbar-nav > .open > a:hover, header .navbar-inverse .navbar-nav > .open > a:focus,
header li.dropdown.open a.dropdown-toggle {
  color: #f2f4f4;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.75);
  background-color: #f2f4f4;
}
/* line 69, ../../sass/styles.scss */
header .navbar {
  padding: 1.5em 0 1.5em;
  border: none;
  margin-bottom: 0;
}
/* line 73, ../../sass/styles.scss */
header .navbar .logogit.brandz {
  height: auto;
}
/* line 75, ../../sass/styles.scss */
header .navbar .logogit.brandz .navbar-header {
  display: inline-block;
  float: right;
}
/* line 79, ../../sass/styles.scss */
header .navbar .logogit.brandz div.subheader-img {
  height: 60px;
}
/* line 83, ../../sass/styles.scss */
header .navbar .logogit.brandz div.subheader-img h1 {
  display: inline-block !important;
  margin: 0 auto;
  font-size: 36px;
  line-height: 48px;
  vertical-align: middle;
  letter-spacing: 1px;
  color: #f2f4f4;
  margin-left: 1em;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 97, ../../sass/styles.scss */
header .navbar .logogit.brandz div.subheader-img img.img-responsive {
  display: inline-block !important;
  margin: 0 auto;
  font-size: 42px;
  line-height: 58px;
  vertical-align: middle;
  background: rgba(26, 139, 203, 0.9);
  box-shadow: 0px 0px 1px 2px rgba(140, 28, 32, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
}
/* line 114, ../../sass/styles.scss */
header ul.nav.navbar-nav > li.active a {
  background-color: transparent !important;
}
/* line 119, ../../sass/styles.scss */
header ul.nav.navbar-nav > li {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 126, ../../sass/styles.scss */
header ul.nav.navbar-nav > li a {
  padding-top: 24px;
}
/* line 134, ../../sass/styles.scss */
header .navbar-right.sopra {
  padding-right: 1em;
  position: fixed;
  right: 15%;
  top: 2.45%;
}
/* line 142, ../../sass/styles.scss */
header li#contact {
  margin-right: 17px;
}
/* line 146, ../../sass/styles.scss */
header li#active {
  margin-right: 17px;
}

/* line 157, ../../sass/styles.scss */
.mainContent #mainheading {
  background-color: #073642;
  height: 330px;
}
/* line 163, ../../sass/styles.scss */
.mainContent #mainheading .container .maintop .maintopimg {
  background: url(../assets/images/collaboration-security.png) no-repeat;
  background-position: 3px 66px;
  height: 329px;
  width: 100%;
  border-bottom: 1px solid #f2f4f4;
  border-top: 0;
  margin: 0em 0 0 0;
}
/* line 176, ../../sass/styles.scss */
.mainContent #mainheading .container .maintop .headline {
  margin: 2em 0;
}
/* line 178, ../../sass/styles.scss */
.mainContent #mainheading .container .maintop .headline .shadebox {
  background: #3f9cdc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 1.157em 0;
}
/* line 182, ../../sass/styles.scss */
.mainContent #mainheading .container .maintop .headline .shadebox .txwrap {
  padding: 0 1.5em;
}
/* line 185, ../../sass/styles.scss */
.mainContent #mainheading .container .maintop .headline .shadebox .txwrap h3 {
  font-size: 24px;
  line-height: 38px;
  color: white;
  margin-bottom: .5em;
  font-family: "Nobile", sans-serif, arial, georgia, verdana;
  letter-spacing: 1px;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 194, ../../sass/styles.scss */
.mainContent #mainheading .container .maintop .headline .shadebox .txwrap p {
  font-size: 20px;
  line-height: 28px;
  color: #f2f4f4;
  font-weight: 300;
  margin: .5em 0;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 217, ../../sass/styles.scss */
.mainContent #apidatasection {
  background-color: #3f9cdc;
}
/* line 220, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle {
  margin: 2em 0;
  overflow: auto;
}
/* line 224, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid {
  padding: 0 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 5px solid white;
}
/* line 228, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid .apresults {
  min-height: 220px;
  max-width: 981px;
  margin: 0 auto;
}
/* line 232, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid .apresults .apresbody {
  margin: 2em 0;
}
/* line 234, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid .apresults .apresbody h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: .5em;
}
/* line 251, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid #clipboard {
  text-align: center;
  margin: 2em 0;
  padding: 1em 0;
  border-bottom: #f2f4f4;
}
/* line 259, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid .apiarea {
  margin: 1em 0;
}
/* line 261, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid .apiarea h2 {
  font-size: 32px;
  margin: .5em 0;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 266, ../../sass/styles.scss */
.mainContent #apidatasection .container .mainmiddle .innermid .apiarea p {
  margin: .5em 0;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 281, ../../sass/styles.scss */
.mainContent #gmap {
  background-color: #1A8BCB;
}
/* line 287, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .left .geointro {
  font-family: "Nobile", sans-serif, arial, georgia, verdana;
  padding: 3.5em 0;
  height: auto;
  text-align: center;
}
/* line 292, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .left .geointro h1 {
  font-size: 36px;
  line-height: 48px;
  color: #f2f4f4;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
  margin: 1em 0;
  letter-spacing: 1px;
}
/* line 302, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .left .geointro .subgeointro {
  margin: 2.688em 0;
}
/* line 304, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .left .geointro .subgeointro p {
  font-size: 20px;
  line-height: 28px;
  color: #f2f4f4;
  margin: .5em 0;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 320, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  z-index: 5;
}
/* line 326, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .overlaytophalf {
  height: 18.75em;
  position: relative;
}
/* line 329, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .overlaytophalf #loadinggif {
  width: 100%;
  height: 166.5%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  opacity: 0.7;
  background-color: #f2f4f4;
  z-index: 99;
  text-align: center;
}
/* line 340, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .overlaytophalf #loadinggif img#loading-image {
  position: absolute;
  top: 10%;
  left: 27%;
  z-index: 100;
}
/* line 349, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .gsearch {
  height: 40%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 5;
  padding: 2em 0;
}
/* line 355, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .gsearch p {
  z-index: 15;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 36px;
  padding: 0 1em;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 364, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .gsearch img#geover {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  z-index: -1;
}
/* line 371, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer .gsearch #geolocbut {
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 25;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 380, ../../sass/styles.scss */
.mainContent #gmap .container .geotop .right .geocontainer #map_canvas {
  height: 500px;
  right: 0%;
  position: absolute !important;
  bottom: 0%;
  width: 635px;
}
/* line 401, ../../sass/styles.scss */
.mainContent #apidatasection .mainmiddle .innermid .apresults .apresbody h1 {
  font-size: 36px;
  line-height: 48px;
  color: #f2f4f4;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 407, ../../sass/styles.scss */
.mainContent #apidatasection .mainmiddle .innermid .apresults .apresbody p {
  font-size: 20px;
  line-height: 28px;
  color: #f2f4f4;
  margin: .5em 0;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 415, ../../sass/styles.scss */
.mainContent #apidatasection .mainmiddle .innermid .apresults .apresbody textarea {
  text-shadow: 0.2 0px 1px rgba(99, 99, 99, 0.7);
  line-height: 20px;
  color: #212a2c;
  letter-spacing: .3px;
  padding: 5px 10px;
  border: 1px solid rgba(8, 1, 1, 0.85);
  outline: 2px solid rgba(19, 133, 212, 0.99);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
